<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
       <add key="filetypeOffice" value="*.doc, *.xls, *.ppt"/>
       <add key="filetypeOfficex" value="*.docx, *.xlsx, *.pptx"/>
       <add key="filetypeImage" value="*.jpg, *.jpeg, *.jpe .jif, *.jfif, *.jfi, *.png, *.gif, *.webp, *.tiff, *.tif, *.heif, *.heic, *.ind, *.indd, *.indt, *.psd, *.raw, *.arw, *.cr, *.rw2, *.nrw, *.k25, *.svg, *.svgz, *.eps, *.ai"/>
       <add key="filetypeVideo" value="*.webm, *.mpg, *.mp2, *.mpeg, *.mpe, *.mpv, *.ogg, *.mp4, *.m4p, *.m4v, *.avi, *.wmv, *.mov, *.qt, *.flv, *.swf"/>
       <add key="filetypeText" value=""/>
    </appSettings>
</configuration>